@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
* {
	box-sizing: border-box;
	border: 0;
	margin: 0;
	padding: 0;
	font-family: 'Jua', sans-serif;
}

.game-container {
	background-color: white;
	width: 905px;
	height: 446px;

	display: flex;
}

.player1-container {
	background-color: #ffa6a6;
	width: 132px;
	height: 446px;

	border-top-left-radius: 80px;
	border-bottom-left-radius: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.game-display {
	background-image: url('../../images/game-background.png');
	background-repeat: round;
	width: 637px;
	height: 446px;

	display: flex;
	align-items: center;
	justify-content: center;
}

.game-count {
	margin-top: 10px;
	font-size: 100px;
}

.player2-container {
	background-color: #99ccff;
	width: 131px;
	height: 446px;

	border-top-right-radius: 80px;
	border-bottom-right-radius: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.player1-image {
	background-color: white;
	width: 106px;
	height: 106px;

	margin-top: 25px;
	border-radius: 180px;
}

.player1-nickname {
	font-size: 20px;

	margin-top: 8px;
}

.player1-gameresult {
	font-size: 60px;
	font-weight: 400;
	line-height: 75px;
	color: white;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	/* -webkit-text-stroke: 1px white; */

	margin-top: 20px;
}

.player1-score-info {
	font-size: 20px;

	top: 290px;
	position: absolute;
}

.player1-game-score {
	font-size: 64px;

	top: 310px;
	position: absolute;
}

.player2-game-score {
	font-size: 64px;

	margin-top: 50px;
}

.player2-score-info {
	font-size: 20px;

	margin-top: -18px;
}

.player2-gameresult {
	font-size: 60px;
	font-weight: 400;
	line-height: 75px;
	color: white;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	/* -webkit-text-stroke: 1px white; */

	margin-top: 25px;
}

.player2-nickname {
	font-size: 20px;

	top: 260px;
	margin-top: 12px;
	position: absolute;
}

.player2-image {
	background-color: white;
	width: 106px;
	height: 106px;

	top: 310px;
	border-radius: 180px;
	position: absolute;
}

.game-end {
	width: 637px;
	height: 446px;
	background-image: url(../../images/game-background.png);
	background-repeat: round;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.game-end-button {
	width: 356px;
	height: 84px;
	background-color: #FFA6A6;
	border-radius: 15px;
	border-width: 0;
	font-size: 28px;
	color: white;
	font-family: 'jua';
	box-shadow: 3px 3px 3px black;
}

.game-end-button:active {
	transform: translate(3px, 3px);
	box-shadow: none;
}

.gmae-end-button:hover {
	background-color: pink;
}
