@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Jua', sans-serif;
}

.login-wrapper {
	width: 1000px;
	height: 100vh;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-body-wrapper {
	width: 900px;
	height: 446px;
	background-color: gray;
	margin: 10% auto;
}

.back-wrapper {
	width: 1000px;
	height: 1000px;
	background-color: white;
	margin: 0 auto;
}

.back-logo-wrapper {
	width: 900px;
	height: 150px;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

.back-logo {
	height: 100%;
	margin: 0 auto;
}

.body-wrapper {
	width: 900px;
	height: 446px;
	background-color: gray;
	margin: 0 auto;
}

.footer-wrapper {
	width: 900px;
	height: calc(100% - 150px - 445px);
	margin: 0 auto;
	display: flex;
}

.footer-profile {
	width: 226px;
	height: 253px;
	margin-right: calc(100% - 226px - 646px);
}

.footer-chat {
	width: 646px;
	height: 350px;
}
