.back-wrapper {
	width: 1000px;
	height: 1024px;
	background-color: white;
	margin: auto;
}

.login-wrapper {
	background-color: #6cd3ff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.login-logo {
	display: block;
	width: 450px;
	position: relative;
	right: 0px;
}

.login-content-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 500px;
	height: 100px;
}

.login-btn {
	width: 356px;
	height: 84px;
	background: #fdffa5;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	font-size: 28px;
	font-family: jua;
}

.login-btn:hover {
	background: #fdff6c;
}

.language-select {
	display: flex;
	margin: auto 0;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}

.login-language-wrapper {
	display: flex;
	flex-direction: column;
}

.login-language-select-wrapper {
	width: 174px;
	height: 52px;
	background: #fdffa5;
	border-radius: 15px;
	font-size: 20px;
	font-family: jua;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.login-language-select-btn {
	width: 78px;
	height: 52px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	background: #fdffa5;
	border-radius: 15px;
	font-size: 20px;
	font-family: jua;
	margin-left: 10px;
}

.login-language-select-btn:hover {
	background: #fdff6c;
}
