@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Jua", sans-serif;
}

.body-wrapper {
	width: 900px;
	height: 446px;
	background-color: gray;
}
