.chat-container {
	width: 646px;
	height: 650px;
	border: 3px solid lightgray;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 30px;
	margin-top: 30px;
}

.message-container {
	width: 605px;
	height: 665px;
	overflow-y: auto;
}

#chat-form {
	display: flex;
	justify-content: center;
	align-items: center;
	/* background: #eee; */
	padding: 10px;
	bottom: 0;
	width: 100%;
}
#chat-form input {
	width: 512px;
	height: 52px;
	border: 3px solid lightgray;
	border-radius: 15px;
	font-size: 20px;
	font-family: 'jua';
}
#chat-form button {
	width: 89px;
	height: 52px;
	background-color: #fdffa5;
	border-radius: 15px;
	margin-left: 10px;
	border: none;
	font-size: 20px;
	font-family: 'jua';
}
.messages {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	margin: 5px 0;
}
.message {
	display: block;
	padding: 1px 5px;
}

.message-time-stamp {
	font-size: 14px;
	color: gray;
	padding: 5px 5px 0px 5px;
}

.others-message-wrapper {
	height: fit-content;
	width: fit-content;
	align-items: flex-start;
	background-color: #6cd3ff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 0px 15px 15px 15px;
	font-size: 20px;
	padding: 1px 5px 3px 5px;
	margin: 5px auto 7px 5px;
	font-family: 'jua';
}

.my-message-wrapper {
	height: fit-content;
	width: fit-content;
	align-items: flex-end;
	background-color: #fdffa5;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 15px 0px 15px 15px;
	font-size: 20px;
	padding: 1px 5px 3px 5px;
	margin: 5px 5px 7px auto;
	font-family: 'jua';
}
